.field-title {
    font-size: 14px;
    font-weight: 400;
    color: $hk-text-color4;
    line-height: 20px;
    padding-top: 10px;
}
.apply-btn-boxshadow{
  box-shadow:0px 2px 10px 0px rgba(0,85,255,0.5);
}