* {
  box-sizing: border-box;
}

html {
  background-color: $text-color8;
  scroll-behavior: smooth;
}

@media (min-width: 560px) {
  // 兼容pc页面
  html {
    font-size: 75px;
  }
  html,
  body {
    max-width: 562.5px;
  }
}

@media (max-width: 1024px) {
  // ipad
  html {
    font-size: 13.33333333vw;
  }
  html,
  body {
    max-width: 1024px;
  }
}

.full-height {
  height: 100%;
}

.scroll-able {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.text-color {
  color: $text-color;
}
.text-color7 {
  color: $text-color7;
}
.text-color5 {
  color: $text-color5;
}
.text-color2 {
  color: $text-color2;
}
.text-color3 {
  color: $text-color3;
}

.flex-fixed {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.flex-fixed-container {
  flex: 1;
}

.primary-color {
  color: $primary-color;
}
.hk-primary-color {
  color: $hk-primary-color;
}

.right-icon {
  transform: rotate(180deg);
  display: inline-block;
}
.warn-color {
  color: $warn-color;
}
.common-radius {
  border-radius: 4px;
}
.en-font-size input {
  font-size: 16px;
}
.icon-wenhao {
    color: #8c8c8c;
}
.yx-company-provide {
  padding: 10px $global-padding;
  font-size: 12px;
  font-family: DINPro-Regular;
  font-weight: 400;
  color: rgba(53, 53, 71, 0.2);
  line-height: 17px;
}
.foot-button {
    width: 100%;
    height: 48px;
    color: #fff;
    font-size: 0.32rem;
    line-height: 47px;
    text-align: center;
    border-radius: 0!important;
    background-color: $primary-color;
    &[disabled='disabled'] {
        background-color: $disabled-color!important;
    }
}
.van-pull-refresh {
    min-height: 100%;
}
.operate-btn-box {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    .foot-button {
        height: 48px;
        margin: 0;
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);
        &.sell {
            background: #ffbf32;
            border-color: #ffbf32;
        }
    }
}

.common-marge-top{
    margin:6px 0 0 0;
}

.common-flex-space-between{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.common-flex-center{
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}

.color-green {
    color: #04ba60;
}
.color-green-bg {
    background: rgba(0,186,96, 0.04);
}
.color-red {
    color: #ea3d3d;
}
.color-red-bg {
    background: rgba(234,61,61, 0.04);
}
.color-black {
    color: #979797;
}
.color-black-bg{
    background: rgba(186, 186, 186, 0.04);
}

.mergin_top{
    margin-top:10px 0 0 0;
}
