#app {
    $disabled: #DADADA;
    /*van-button*/
    .van-button--disabled {
        background-color: #C7C7C7;
        border: 0.02rem solid $disabled;
        color: #FFFFFF;
    }
    .van-button {
        border-radius: 6px;
        height: 48px;
    }
    .van-button--large {
        height: 48px;
        line-height: 46px;
    }
    .bottom-button {
        border-radius: 0;
        margin-top: 1px; 
    }
    /*van-row*/
    .van-row {
        .van-cell {
            padding-left: 0;
        }
        .van-cell:not(:last-child)::after {
            left: 0;
        }
    }
    /*van-field*/
    .van-cell__title {
        width: 80px;
        max-width: 100%;
        color: $text-color;
    }
    .van-field {
        line-height: 29px; // input 高度为50
        .van-cell__title, .van-cell__value {
            flex: inherit;
        }
        .van-cell__value {
            flex: 1;
        }
        ::-webkit-input-placeholder {
            color: $text-color2;
        }
    }
    .van-field__body input:disabled {
        color: $text-color;
        opacity: 1;
        -webkit-text-fill-color: $text-color;
        &::-webkit-input-placeholder {
            color: $text-color2;
            opacity: 1;
            -webkit-text-fill-color: $text-color2;
        }
    }
    /*dialog*/
    .van-dialog__message {
        text-align: center;
    }
    .van-dialog {
        width: 285px;
        border-radius:10px;
        .van-button {
            font-size: 16px;
        }
    }
    .van-tag::after {
        transform: scale(0.45);
    }
}
body {
    .van-toast.toast-like-ios {
        width: 200px;
        box-sizing: border-box;
        padding: 20px 10px 28px;
        width:184px;
        background-color:rgba(0,0,0,1);
        border-radius:20px;
        text-align: center;
        top: 260px;
        font-weight: 400px;
        color: #fff;
        font-size: 16px;
        line-height: 28px;
        word-break: normal;
    }
    .round-confirm {
        font-size: 16px; 
        .van-dialog__content .van-dialog__message{
            padding: 34px 20px;
            font-size: 16px;
            line-height: 22px;
        }
        width:323px;
        background:rgba(255,255,255,1);
        border-radius:20px;
    }
    .van-button--primary {
        color: #fff;
    }
}

.fund-account-container{
    .van-hairline--top-bottom:after {
        border-width: 0 0;
    }
    .van-tab {
        font-size:0.32rem;
    }
    .van-tabs__wrap{
        width:100%;
        padding:0 24%;
        position: fixed;
        top:0;
        background: #2f79ff;
    }
}

.home-header-container{
    .van-hairline--top-bottom:after {
        border-width: 0 0;
    }
    .van-tab {
        font-size:0.32rem;
    }
    .van-tabs__wrap{
        width:100%;
        padding:0 24%;
        position: fixed;
        top:0;
        background: #2f79ff;
    }
}
.block-fund-index{
    .van-swipe{
        width:100%;
        height:100%;
    }
}
.block__fund_index_swiper{
      .van-swipe__indicators {
        bottom: 60px !important;
    }
    .van-swipe__indicator{
        width:15px;
        height:5px;
        border-radius:2px;
    }
}

.block__income--wrapper {
    .van-hairline--top-bottom {
        position: absolute;
    }
}
// .van-number-keyboard{
//     z-index:9999999999999999 !important;
// }
.block__bannar__Tab{
    .van-swipe__indicators {
      bottom: 6px !important;
    }
    .van-swipe__indicator--active{
        background-color:rgba(238,238,238,1);
    }
  .van-swipe__indicator{
      width:8px;
      height:2px;
      border-radius:2px;
  }
}

/*弹窗样式规范*/
.van-dialog {
    border-radius:10px;
    .van-button {
        font-size: 16px;
    }
}
.van-dialog__header{
    padding-top: 20px;
    font-weight: 400;
}

.van-dialog__message{
    padding-left: 16px;
    padding-right: 16px;
}
.van-dialog__message--has-title{
    padding: 6px 16px 20px;   
}

// .van-hairline--top-bottom{
//     position: absolute !important;
// }

body[data-theme="pro-theme"] {
    .van-button--primary {
        background: $primary-pro-color;
        border: none;
    }
    .van-tag--plain {
        color: $primary-pro-color !important; 
    }
}