html {
     height: 100%;
     font-size: 50px;
     font-size: 13.33333333vw;
     margin: 0 auto;
 }

.border-bottom {
    position: relative;
    &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid #ebedf0;
        

        @media only screen and (min-resolution: 2dppx) {
            // 非标准的
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}

.border-right {
    position: relative;
    &::after {
        position: absolute;
        box-sizing: border-box;
        content: ' ';
        pointer-events: none;
        right: 0;
        bottom: 0;
        top:0;
        border-right: 1px solid rgba(255,255,255,0.4);
        @media only screen and (min-resolution: 2dppx) {
            // 非标准的
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }
}

.border-top {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        pointer-events: none;
        background-color: $border-color;
        height: 1px;
        left: 0;
        right: 0;
        top: 0;

        @media only screen and (min-resolution: 2dppx) {
            // 非标准的
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }
}


.border { border: 1px solid  rgba(255, 255, 255, 0.3)}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .border { border: 0.5px solid  rgba(255, 255, 255, 0.3)}
}
@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .border { border: 0.333333px solid rgba(255, 255, 255, 0.3) }
}